body
{
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.header
{
  width: 100%;
  height: auto;
}

.header_arrow 
{
  color: black;
  position: absolute;
  left: 20px;
  top: 40px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.logo
{
   text-align: center;
   font-family: 'Shrikhand', cursive;
   font-size: 40px;
}


.container2
{
    width: 100%;
}

.img
{
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}


.menu
{
  background-color: #f6f6f6;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;/*?????*/
}

.header1
{
  display: flex;
  align-items: center;
  background-color:  #f6f6f6;
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
}
h2
{
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Shrikhand', cursive;
}

.hearts
{
  position: absolute;
  right: 100px;
  top:30px;
  background-color: #f6f6f6;
}

.hearts:hover
{
    transition: 1s;
    cursor: pointer;
    color: #c148d18a; 
}

.heart_2, .heart_3
{
  position: absolute;
  background-color: #f6f6f6;
}

.heart_2:hover, .heart_3:hover
{
  background-image: linear-gradient(0deg,rgba(140,86,220,.9),rgba(255,120,220,.7));
  mix-blend-mode: lighten;
  background-color: white;
}

.container3
{
  justify-content: space-between;
  box-sizing: border-box;
}

h3
{
  font-size: 1.5rem;
}

hr
{
  width: 3%;
  position: absolute;
  top: 60px;
  color: #99e2d0;
  height: 4px;
  background-color: #99e2d0;
  border: none;
}

.bloc1, .bloc2, .bloc3
{
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}


.card1, .card2, .card3, .card4
{
  background-color: white;
  padding: 10px;
  border-radius: .75rem;
  box-shadow: 5px 5px 5px 5px #d9d9d9;
  cursor: pointer; 
  height: 70px;
  position: relative;
  overflow: hidden;
  /*transition: all 1.5s;*/
  animation: apparition 2s ease-in;
}

@keyframes apparition
{
  from { opacity: 0;
  transform: translateY(-30px);}
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


.card1 p, .card2 p, .card3 p, .card4 p
{
  position: relative;
  bottom: 10px;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover
{
  /*transform: scale(1.05);*/
  padding-right: 100px;
  transition: 0.8s;
}

.card1:hover .animation, .card2:hover .animation, .card3:hover .animation, .card4:hover .animation
{
   right: 0px;
}

.card2, .card3, .card4
{
  margin-top: 20px;
}


.info
{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
  box-sizing: inherit;
}

.card1 p:nth-child(1), .card2 p:nth-child(1), .card3 p:nth-child(1), .card4 p:nth-child(1), .suspension
{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



.description
{
  box-sizing: inherit;
}

.animation
{
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  padding: 0 2rem;
  right: -80px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 1s;
  border-radius: 0 .75rem .75rem 0;
}

.animation1
{
  background-color: #99e2d0;
  color: white;
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 1s;
}

.card1:hover .animation1, .card2:hover .animation1, .card3:hover .animation1, .card4:hover .animation1
{
  transform: rotate(-360deg);
  transition: transform 1s;
}


.footer1
{
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.button
{
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  width: 180px;
  font-weight: 600;
  padding: 10px;
  border-radius: 40px;
  color: white;
  font-size: 1.4rem;
  background-image: linear-gradient(0deg,rgba(140,86,220,.9),rgba(255,120,220,.7));
  margin-top: 20px;
  background-color: #686868;
}

.button:hover
{
  box-shadow: 5px 5px 5px 5px #d9d9d9;
  transform: scale(1.1);
  transition: 1s;
  background-color: white;
}

.button a
{
  text-decoration: none;
  color: white;
}

footer 
{
 width: 100%;
 background-color:#353535;
}

.conteneur4
{
  flex-direction: column;
  padding-bottom: 60px;
  display: flex;
}


.titre2
{
    padding-left: 40px;
    padding-top: 15px;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}

.logo1:hover
{
    color: white;
}

ul 
{
    list-style: none;
}

li a 
{
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer_icon
{
    margin-right: 20px;
    width: 1rem;
}

@media screen and ( max-width: 768px)
{
  .hearts
  {
    right: 50px;
  }
}

@media screen and ( max-width: 650px)
{
  .bloc1, .bloc2, .bloc3
  {
    margin-left: 10px;
    box-sizing: border-box;
    width: 95%;
  }
    

  
  
}