body
{
    margin: 0;
    width: 100%;
}

.header
{
  width: 100%;
  height: auto;
}

.header_arrow 
{
  color: black;
  position: absolute;
  left: 20px;
  top: 40px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.logo
{
   text-align: center;
   font-family: 'Shrikhand', cursive;
   font-size: 40px;
}

.carte
{
  width: 100%;
}

.container2
{
    width: 100%;
}

.img1
{ width: 100%;}

.img
{
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}

main
{
  
  height: auto;
  width: 100%;
}

.menu
{
  background-color: #f6f6f6;
  padding-bottom: 20px;
  /*margin-top: -4rem;*/
}

.header1
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.container3
{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

h3
{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.bloc1, .bloc2, .bloc3
{
  width: 20%;
  padding: 20px;
}

.card1, .card2, .card3
{
  background-color: white;
  padding: 10px;
  border-radius: .75rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: 5px 5px 5px 5px #d9d9d9;
  cursor: pointer;
  
}

.card2, .card3
{
  margin-top: 20px;
}

.info
{
  display: flex;
  justify-content: space-between;
}

.footer1
{
  height: auto;
  display: flex;
  justify-content: center;
}

.button
{
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  width: 180px;
  font-weight: 600;
  padding: 10px;
  border-radius: 40px;
  color: white;
  font-size: 1.4rem;
  background-image: linear-gradient(0deg,rgba(140,86,220,.9),rgba(255,120,220,.7));
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.button:hover
{
  box-shadow: 5px 5px 5px 5px #d9d9d9;
}

footer 
{
 width: 100%;
 background-color:#353535;
}

.conteneur4
{
  flex-direction: column;
  padding-bottom: 60px;
  display: flex;
}


.titre2
{
    padding-left: 40px;
    padding-top: 15px;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}

.logo1:hover
{
    color: white;
}

ul 
{
    list-style: none;
}

li a 
{
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer_icon
{
    margin-right: 20px;
    width: 1rem;
}