@font-face
{

}

body
{
    font-family: ;
    font-weight: normal;
    width: 99%;
}

header
{
    /*??????*/
}

#logo
{
    text-align: center;
}

#logo img
{
    height: 60px;
    color: white;
}

.entete
{
  width: 100%;
  height: auto;
}

.conteneur 
{
    background-color: #d3d3d3;
    height: auto;
}

.icon
{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: gray;
}

h1
{
    font-size: 30px;
}

h1, p
{
    text-align: center;
}

.conteneur p 
{
    margin-left: 10px;
}

.conteneur1
{

}

.block 
{
    padding-bottom: 20px;
    border: solid 3px hotpink;
    background-color: hotpink;
    border: hotpink 3px solid;
    border-radius: 40px;
    
}

.block_text
{
    text-align: center;
    color: white;
    position: relative;
    top: 10px;
}

/*MAIN*/

.main
{
   
}

/*MENU*/

.menu
{
background-color: white;
height: auto;
width: auto;
}

h3
{
    text-align: center;
    font-size: 25px;
}

.conteneur2
{
    display: flex;
    justify-content: center;
}

.search
{
    margin: 60px;
    display: flex;
    border: white 2px;
    padding: 20px;
    border-radius: 40px;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 3px 3px #0000002e;
}

.conteneur_filtre
{
    margin-right: 10px;
}

/*MENU2*/


.menu2
{
    width: 100%;
    height: auto;
    background-color: #d3d3d3;
}

h4 
{
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}

.conteneur3
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;
}

.conteneur3 p
{
  text-align: start;
  font-size: 17px;
}

.conteneur3 p1
{
    font-size: 20px;
    margin-top: 20px;
}

.heart
{
    text-align: end;
    position: relative;
    margin-right: 20px;
    bottom: 40px;
    font-size: 25px;
}

.heart:hover
{
    background-color: #FF79DA;
}

.button 
{
   text-align: end;
}

.card1, .card2, .card3, .card4
{
  flex-direction: column;
  border: 2px #b1b1b1;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 3px 3px #0000002e;
  width: 650px;
  height: 300px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 50px;
}

.img_restaurant
{
    width: 100%;
    object-fit: cover;
    height: 65%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}


footer 
{
 width: 100%;
 background-color:#353535;
}

.conteneur4
{
  flex-direction: column;
  padding-bottom: 60px;
  display: flex;
}

.conteneur4 .logo1
{
    margin-left: 200px;
    padding-top: 15px;
    color: white;
}

ul 
{
    list-style: none;
    margin-left: 160px;
}

li a 
{
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer_icon
{
    margin-right: 20px;
    width: 1rem;
}


