@font-face
{

}

body
{
    font-family: ;
    font-weight: normal;
    width: 95%;
}

header
{
    /*??????*/
}

#logo
{
    text-align: center;
}

#logo img
{
    height: 60px;
}

.entete
{
  /*???*/
}

.icon
{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.conteneur 
{
    background-color: #d3d3d3;
}

h1, p
{
    text-align: center;
}

.block_text
{
    text-align: center;
}